<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>148713167278-2t73hclkjpuipar2ej1mc6m4i3ra10ud.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.148713167278-2t73hclkjpuipar2ej1mc6m4i3ra10ud</string>
	<key>API_KEY</key>
	<string>AIzaSyBSyTv4-GTYxBdBn460TCps-u9Ot1Bn3uc</string>
	<key>GCM_SENDER_ID</key>
	<string>148713167278</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.app</string>
	<key>PROJECT_ID</key>
	<string>gudz-a5d02</string>
	<key>STORAGE_BUCKET</key>
	<string>gudz-a5d02.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:148713167278:ios:ef7c2385ba47dcba8cd03f</string>
</dict>
</plist>